@font-face {
    font-family: 'iFoodRCTextos';
    src: url('/Assets/Fonts/iFoodRCTextos-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'iFoodRCTextos', sans-serif;
}

h4 {
    color: #E33B06;
}

.btn {
    font-size: 2.5rem;
}

img {
    max-height: 30vh;
}

.justify-content-between {
    justify-content: space-between;
}

hr {
    color: #EA1D2C;
}

.fixed-bottom-icons {
    font-size: 1.6rem;
}

.button-container .btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.titulo {
    margin-top: 20px;
}

.footer {
    background-color: red;
    padding: 20px 0;
    text-align: center;
}

.footer .container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: nowrap;
}

.footer-icon {
    color: white;
    font-size: 50px;
    text-decoration: none;
}

.footer-icon:hover {
    color: #ddd;
}

.custom-icon {
    font-size: 2.2rem;
}
  
.fixed-bottom-icons {
    font-size: 1.6rem;
}
  
.nav-link span {
    margin-left: 0.5em;
    font-size: 1rem;
}
  
.navbar-top a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}